@model Travello.ViewModel.RoomViewModel


            </div>
        </div>
    </section>


<div>
    <h1>Roooom</h1>

    <h2>@Model.Room_id</h2>



    @if (Model.Room_type == 1)
    {
        <h2>single</h2>
    }
    else
    {
        <h2><double</h2>
    }
    <h2>@Model.Hotel_Name</h2>
    <h2>@Model.city_name</h2>

</div>


